# Python (Server)
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Node (Client)
node_modules/
dist/
build/
.eslintcache
npm-debug.log*

# Databases & System
*.db
*.sqlite3
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Secrets and Credentials
google api key secret.txt

# Media and Uploads
server/uploads/
server/word_audio/